fastapi==0.115.14
uvicorn[standard]==0.34.3
httpx==0.28.1
pydantic==2.11.7
pydantic-settings==2.10.1
SQLAlchemy==2.0.41
asyncpg==0.30.0
python-multipart==0.0.20
qdrant-client==1.14.3
sentence-transformers==5.0.0
pypdf==5.7.0
PyMuPDF==1.26.4
rapidocr_onnxruntime==1.4.4
python-docx==1.2.0
boto3==1.39.1
redis==6.2.0
PyJWT==2.10.1
cryptography==45.0.5
faster-whisper==1.1.1
piper-tts==1.8.0
